/* INTRODUCTION-INNER */

.introduction-inner {
  /* min-height: 600px;  */
  /* background: url("../assets/background/symbol.png") center no-repeat; */
  /* background-size: 440px; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

//   .introduction-description {
//     /* padding-top: 150px; */
//   }

.introduction-title {
  font-size: 75px;
  font-weight: 700;
}

.introduction-subtitle {
  margin-bottom: 80px;
}

.introduction-btn {
  /* margin: 10px 0; */
  width: 100%;
  background: red;
  border: 5px solid #6c6c6c;
  border-radius: 50px;
  padding: 9px 55px 10px;
  color: white;
  font-weight: 700;
  font-size: 25px;
  transition: all 0.2s linear;

  &:hover {
    text-decoration: none;
    background: rgb(173, 0, 0);
    color: white;
  }
}

/* .introduction-footer {
        min-height: 230px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        bottom: 0;
    } */
